*{
    margin: 0;
    padding: 0;
}
.photo{
    width: 320px;
    height: 600px;
    background:linear-gradient(150deg,#EAD6EE,#a0f1ea)fixed;
    margin:50px auto;
    font-size:"微软雅黑";
    color: #2c606d; 
    border-radius:15px;
    box-shadow: 0 0 20px #EAD6EE;
    overflow: hidden;
}
.title{
    margin-top: 5px;
    width: 100%;
    height:70px;
    font-size:32px;
    text-align :center;
    line-height: 70px;
}
.singer{
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: center;
    line-height:40px;
}
.play{
    width:152px;
    height:152px;
    background-image: url("./img/未标题-3.png");
    background-repeat: no-repeat;
    margin: auto;
    border-radius:50%;
    margin :20px auto;
}

.lrc{
    width:100%;
    height:220px;
    background-color:aquamarine;
    margin:50px auto;
    overflow:hidden;
}

.lrc p{
    line-height: 20px;
    font-size: 15px;
}

.content{
    position:relative;

}
.play.rotate{
    -webkit-animation: rot 10s linear infinite;
    animation: rot 10s linear infinite;
}
@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}